<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>
            Hi, welcome to Home
        </h1>
        <h2>
            Codeial <%= title %>
        </h2>

    </body>
</html>